.git
.gitignore
.venv
venv
venv_directml
__pycache__
*.pyc
*.pyo
*.log
.vscode
backend/.vscode
backend/__pycache__
ml/__pycache__
ml/cnn_model/__pycache__
ml/cnn_model/scripts/__pycache__
data/ptbxl
data/ECG_Diagnosis_System
ecg-ai-flask
server.out.log
server.err.log
backend_server.out.log
backend_server.err.log
